html {
	height: 100%;
}

body {
  	font-family: 'Rokkitt', serif;
  	height: 100%;
  	margin: 0;
  	padding: 0;
  	width: 100%;
}

.heading {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.dropdown-menu, .dropdown-toggle {
	font-family: 'Roboto', sans-serif;
}

#banner {
	width: 100%;
	position: relative;
	min-height: 100%;
	background: url("img/sky.JPG");
	background-size: cover;
	background-position: center;
}

hr {
	width: 65%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

h3 {
	font-size: 2.8em;
}

p {
	font-size: 1.4em;
}

section {
	padding-top: 50px;
	padding-bottom: 20px;
}
.navbar-inverse .navbar-nav>li>a {
	color: #f2f6ff;
}

.navbar-inverse .navbar-brand {
	color: white;
}

#landingContent {
	text-align: center;
	color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	padding-top: 20%;
}

#landingContent h1 {
	font-weight: 700;
	font-size: 4.0em;
}

#about {
	background-color: #222222;
}

#portrait {
	margin: auto;
	height: 65%;
	width: 65%;
}

.contact {
	background-color: #322f30;
	color: #fff;
	margin: auto;
	width: 100%;
}

footer {
	background-color: #322f30;
	padding-bottom: 30px;
	text-align: center;
}

.footer-social-icons {
    display: inline-block;
    text-align: center;
    padding: 0;
    vertical-align: middle;
}

.social-icons {
    vertical-align: middle;
    padding: 0;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

footer .fa {
	padding:10px 15px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-medium:hover {
    background-color: #3CB371;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-github:hover {
	background-color: #525252;
}
.fa-spotify:hover {
	background-color: #84bd00;
}